extends layout

block content
    div.weui_cells_title
        | 您有啥情报?
    div.weui_cells.weui_cells_form
        div.weui_cell
            div.weui_cell_bd.weui_cell_primary
                textarea.weui_textarea(placeholder="情报内容", rows="8")

