extends layout

block content
    div.weui-row
        div.weui_panel.weui_panel_access
            div.weui_panel_hd
                | 您想说什么?
            div.weui_cells.weui_cells_form
                div.weui_cell
                    div.weui_cell_bd.weui_cell_primary
                        textarea.weui_textarea(placeholder="请输入您想说的话",row="5")


