extends layout

block content
    div.container
        div.weui_cells_title
            | 您有啥情报?
        form.weui_cells_form(action="/admin/help", method="post")
            div.weui_cell
                div.weui_cell_bd.weui_cell_primary
                    textarea.weui_textarea(placeholder="情报内容", rows="3", name="comment")

            button.weui_btn.weui_btn_primary(type="submit", value="发送", style="margin-top:15px")
                | 发送

